 
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    display: flex;
    justify-content: flex-end; 
   padding-right: 20px;
}

.container {
    background-color: #fff !important;
}