<section id="actionSection">
    <div class="container p-5">
      <h4>Role list</h4>
      <button class="btn btn-success">Create New</button>
      <br />
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Number</th>
            <th scope="col">Role name</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let role of roles; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ role.name| uppercase }}</td>
            <td>
              <button class="btn btn-primary">Edit</button> |
              <button class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  