<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/action" routerLinkActive="router-link-active" >Simple View</a>


  <div class="col-5" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item ml-0 ml-md-2">
        <a class="nav-link"  [routerLink]="['/action']" routerLinkActive="active" >Action</a>
      </li>
      <li class="nav-item ml-0 ml-md-2">
        <a class="nav-link"  [routerLink]="['/view']" routerLinkActive="router-link-active" >View</a>
      </li>
     
      <li class="nav-item ml-0 ml-md-2">
        <a class="nav-link " [routerLink]="['/role']" routerLinkActive="router-link-active" >Role</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
