
.bg-light {
    background-color:darkslategray!important;
}

.navbar-brand{
    font-style: bold;
    font-size: 35;
    color: #f8f9fa
}
.navbar-light .navbar-nav .nav-link {
    font-size: 10;
    cursor: pointer;
    color: #f8f9fa;
}
