<section id="actionSection">
  <div class="container p-5">
    <h4>view list</h4>
    <button class="btn btn-success">Create New</button>
    <br />
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">view name</th>
          <!-- <th scope="col">permission name</th> -->

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let view of views; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ view.name | uppercase }}</td>
          <!-- <td>{{permission.name | uppercase}}</td> -->

          <td>
            <button class="btn btn-primary">Edit</button> |
            <button class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
