<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center footer ">© 2018 Copyright
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->